@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

#navbar{
	margin-left: 10%;
}

#navbar-button{
	margin-right: 10%;
}

#page-container {
  position: relative;
  min-height: 100vh;
    position: relative;

}

#content-wrap {
  /*padding-bottom: 2.5rem;*/
    position: relative;

}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.btn-register, .btn-register-hamburger, .btn-cart {
  color: #49403f;
  background-color: #ffffff;
  border-color: #ffffff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .25);
  transition: 0.3s;
}

.btn-login, .btn-login-hamburger {
  color: #ffffff;
  background-color: none;
  border-color: #ffffff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .25);
  transition: 0.3s;
}

.btn-add {
  color: #ffffff;
  background-color: #92836c;
  border-color: #92836c;
  box-shadow: 0px 4px 4px 0px rgba(146, 131, 108, .25);
  transition: 0.3s;
}

.btn-add:focus, .btn-add:hover, .btn-add:active, .btn-add.active, 
.open>.dropdown-toggle.btn-add {
  color: #ffffff;
  background-color: #837561;
  border-color: #837561;
  box-shadow: 0px 4px 4px 0px rgba(131, 117, 97, .25);
  transition: 0.3s;
}

.btn-add-cart {
  color: #ffffff;
  background-color: #6bcd9f;
  border-color: #6bcd9f;
  box-shadow: 0px 0px 2px 2px rgba(107, 205, 159, .5);
  transition: 0.3s;
}

.btn-add-cart:focus, .btn-add-cart:hover, .btn-add-cart:active, .btn-add-cart.active, 
.open>.dropdown-toggle.btn-add-cart {
    color: #ffffff;
  background-color: #53c58f;
  border-color: #53c58f;
  box-shadow: 0px 0px 3px 3px rgba(83, 197, 143, .5);
  transition: 0.3s;
}

.btn-add-cart-modal {
  color: #ffffff;
  background-color: #6bcd9f;
  border-color: #6bcd9f;
  box-shadow: 0px 2px 2px 0px rgba(107, 205, 159, .5);
  transition: 0.3s;
}

.btn-add-cart-modal:focus, .btn-add-cart-modal:hover, .btn-add-cart-modal:active, .btn-add-cart-modal.active, 
.open>.dropdown-toggle.btn-add-cart-modal {
    color: #ffffff;
  background-color: #53c58f;
  border-color: #53c58f;
  box-shadow: 0px 4px 4px 0px rgba(83, 197, 143, .5);
  transition: 0.3s;
}


.btn-plus {
  color: #000000;
  background-color: #ffffff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, .25);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .08);
  transition: 0.3s;
}

.btn-plus:focus, .btn-plus:hover, .btn-plus:active, .btn-plus.active, 
.open>.dropdown-toggle.btn-plus {
  color: #000000;
  background-color: #ffffff;
  border-color: rgba(0, 0, 0, 0.08);
  text-shadow: 0px 2px 4px rgba(0, 0, 0, .25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .08);
  transition: 0.3s;
} 

.btn-delete, .btn-delete:focus {
  color: #ffffff;
  background-color: #49403f;
  border-color: #49403f;
  box-shadow: 0px 2px 2px 0px rgba(73, 64, 63, .25);
  transition: 0.3s;
}

.btn-delete:focus {
  color: #ffffff;
  background-color: #49403f;
  border-color: #49403f;
  box-shadow: 0px 2px 2px 0px rgba(73, 64, 63, .25);
  transition: 0.3s;
}

.btn-delete:hover, .btn-delete:active, .btn-delete.active, 
.open>.dropdown-toggle.btn-delete {
  color: #ffffff;
  background-color: #413938;
  border-color: #413938;
  box-shadow: 0px 4px 4px 0px rgba(65, 57, 56, .25);
  transition: 0.3s;
}

.btn-l {
  color: #ffffff;
  background-color: #49403f;
  border-color: #49403f;
  box-shadow: 0px 2px 2px 0px rgba(73, 64, 63, .25);
  transition: 0.3s;
}

.btn-facebook {
  color: #ffffff;
  background-color: #1877F2;
  border-color: #1877F2;
  border-radius: .25rem;
  min-width: 50px;
  height: 50px;
  box-shadow: 0px 2px 2px 0px rgba(24, 119, 242, .25);
  transition: 0.3s;
}

.btn-google {
  color: #000000;
  background-color: none;
  border-color: #000000;
  border-radius: .25rem;
  width: 50px;
  height: 50px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .25);
  transition: 0.3s;
}

.btn-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  color: #ffffff;
  border:  none;
  border-radius: .25rem;
  width: 50px;
  height: 50px;
  box-shadow: 0px 2px 2px 0px rgba(253, 89, 73, .25);
  transition: 0.3s;
}

.btn-twitter {
  color: #ffffff;
  background-color: #1DA1F2;
  border-color: #1DA1F2;
  border-radius: .25rem;
  width: 50px;
  height: 50px;
  box-shadow: 0px 2px 2px 0px rgba(29, 161, 242, .25);
  transition: 0.3s;
}

.btn-twitter:focus, .btn-twitter:hover, .btn-twitter:active, .btn-twitter.active, 
.open>.dropdown-toggle.btn-twitter {
  color: #ffffff;
  background-color: #1DA1F2;
  border-color: #1DA1F2;
  opacity: 0.95;
  box-shadow: 0px 4px 4px 0px rgba(29, 161, 242, .25);
  transition: 0.3s;
}

.btn-instagram:focus, .btn-instagram:hover, .btn-instagram:active, .btn-instagram.active, 
.open>.dropdown-toggle.btn-instagram {
  color: #ffffff;
  opacity: 0.95;
  box-shadow: 0px 4px 4px 0px rgba(253, 89, 73, .25);
  transition: 0.3s;
}

.btn-google:focus, .btn-google:hover, .btn-google:active, .btn-google.active, 
.open>.dropdown-toggle.btn-google {
  color: #000000;
  background-color: none;
  border-color: #000000;
  opacity: 0.95;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .25);
  transition: 0.3s;
}

.btn-facebook:focus, .btn-facebook:hover, .btn-facebook:active, .btn-facebook.active, 
.open>.dropdown-toggle.btn-facebook {
  color: #ffffff;
  background-color: #1877F2;
  border-color: #1877F2;
  opacity: 0.95;
  box-shadow: 0px 4px 4px 0px rgba(24, 119, 242, .25);
  transition: 0.3s;
}

.btn-l:focus, .btn-l:hover, .btn-l:active, .btn-l.active, 
.open>.dropdown-toggle.btn-l {
  color: #ffffff;
  background-color: #7c6152;
  border-color: #7c6152;
  box-shadow: 0px 4px 4px 0px rgba(124, 97, 82, .25);
  transition: 0.3s;
}

.btn-more, .btn-more:focus {
  color: #49403f;
  background-color: #ffffff;
  border-color: #49403f;
  box-shadow: 0px 2px 2px 0px rgba(65, 57, 56, .25) !important;
  transition: 0.3s;
}

.btn-more:hover, .btn-more:active, .btn-more.active, 
.open>.dropdown-toggle.btn-more {
  color: #49403f;
  background-color: #ffffff;
  border-color: #49403f;
  box-shadow: 0px 4px 4px 0px rgba(65, 57, 56, .25) !important;
  transition: 0.3s;
}

.btn-list {
  color: rgba(124,97,82,1);
  background-color: #ffffff;
  box-shadow: 0px 2px 2px 0px rgba(65, 57, 56, .25);
  transition: 0.3s;
}

.btn-list:hover, .btn-list:active, .btn-list.active, 
.open>.dropdown-toggle.btn-list {
  color: rgba(124,97,82,1);
  background-color: rgba(124,97,82,.4);
  border-color: rgba(124,97,82,.0);
  box-shadow: 0px 4px 4px 0px rgba(65, 57, 56, .25);
  transition: 0.3s;
}

.btn-login:hover, .btn-login:focus, .btn-login:active, .btn-login.active, 
.btn-login-hamburger:hover, .btn-login-hamburger:focus, .btn-login-hamburger:active, .btn-login-hamburger.active, 
.open>.dropdown-toggle.btn-login-hamburger,
.open>.dropdown-toggle.btn-login {
  color: #ffffff;
  background-color: #6f5749;
  border-color: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .25);
  transition: 0.3s;
}

.btn-register:hover, .btn-register:focus, .btn-register:active, .btn-register.active, 
.open>.dropdown-toggle.btn-register,
.btn-register-hamburger:hover, .btn-register-hamburger:focus, .btn-register-hamburger:active, .btn-register-hamburger.active, 
.open>.dropdown-toggle.btn-register-hamburger,
.btn-cart:hover, .btn-cart:focus, .btn-cart:active, .btn-cart.active, 
.open>.dropdown-toggle.btn-cart {
  color: #6f5749;
  background-color: #e5e5e5;
  border-color: #e5e5e5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .25);
  transition: 0.3s;
}

.list-group-item.active, .btn-group-big {
	color: #ffffff;
	background-color: #92836c;
	border-color: #92836c;
  box-shadow: 0px 2px 2px 0px rgba(146, 131, 108, .25);
  transition: 0.3s;
}

.list-group-item.active:hover, .btn-group-big.active:hover, .btn-group-big.active:focus, .btn-group-big.active:active, .btn-group-big.active.active, 
.open>.dropdown-toggle.btn-group-big.active, {
  color: #ffffff;
  background-color: red;
  border-color: #837561;
  box-shadow: 0px 4px 4px 0px rgba(131, 117, 97, .25);
  transition: 0.3s;
}

.list-group-item.active:focus, .list-group-item.active:active, .list-group-item.active.active, 
.open>.dropdown-toggle.list-group-item.active, {
  color: #ffffff;
  background-color: #92836c;
  border-color: #92836c;
}

.list-group-item {
  color: #49403f;
  background-color: #ffffff;
  border-color: rgba(0, 0, 0, .25);
  transition: 0.3s;
}

.list-group-item:hover{
  color: #6f5749;
  background-color: rgba(229, 229, 229, .25);
  border-color: rgba(0, 0, 0, .25);
  transition: 0.3s;
  box-shadow: 0px 2px 2px 0px rgba(26, 26, 26, .25);
  transition: 0.3s;
}

.btn-page {
  color: #ffffff;
  background-color: #7c6152;
  border-color: #7c6152;
  box-shadow: 0px 0px 2px 2px rgba(124, 97, 82, .25);
  transition: 0.3s;
}

.btn-page:hover, .btn-page:focus, .btn-page:active, .btn-page.active, 
.open>.dropdown-toggle.btn-page {
  color: #ffffff;
  background-color: #6f5749;
  border-color: #6f5749;
  box-shadow: 0px 0px 4px 4px rgba(111, 87, 73, .25);
  transition: 0.3s;
}

.btn-radio {
  color: rgba(33, 37, 41, .25);
  background-color: none;
  border-bottom-color: rgba(33, 37, 41, .25) !important;
  box-shadow: 0px 2px 2px -2px rgba(124, 97, 82, .25);
  transition: 0.3s;
  min-width: 150px;
  border-radius: 0px;
}

.btn-radio:hover {
  color: rgba(33, 37, 41, .6);
  background-color: none;
  border-bottom-color: rgba(33, 37, 41, .6) !important;
  box-shadow: 0px 4px 4px -4px rgba(33, 37, 41, .25);
  transition: 0.3s;
  min-width: 150px;
  border-radius: 0px;
}

.btn-radio:focus, .btn-radio:active, .btn-radio.active, 
.open>.dropdown-toggle.btn-radio {
  color: #212529;
  background-color: none;
  border-bottom-color: #212529 !important;
  box-shadow: 0px 4px 4px -4px rgba(33, 37, 41, .25);
  transition: 0.3s;
  min-width: 150px;
}

.btn-radio-v {
  color: rgba(33, 37, 41, .25);
  background-color: none;
  border-color: rgba(33, 37, 41, .25) !important;
  box-shadow: 0px 2px 2px -2px rgba(124, 97, 82, .25);
  transition: 0.3s;
  min-width: 150px;
  border-radius: 0px;
}

.btn-radio-v:hover {
  color: rgba(33, 37, 41, .6);
  background-color: none;
  border-color: rgba(33, 37, 41, .6) !important;
  box-shadow: 0px 4px 4px -4px rgba(33, 37, 41, .25);
  transition: 0.3s;
  min-width: 150px;
  border-radius: 0px;
}

.btn-radio-v:focus, .btn-radio-v:active, .btn-radio-v.active, 
.open>.dropdown-toggle.btn-radio-v {
  color: #212529;
  background-color: none;
  border-color: #53c58f !important;
  box-shadow: 0px 4px 4px -4px #53c58f;
  transition: 0.3s;
  min-width: 150px;
}

.drop-myaccount {
  padding-left: 1rem;
  color: #fff;
  text-decoration: none;
  background-color: rgba(124,97,82,1);
  padding-right: 1rem;
  margin-left: .5rem;
  margin-right: .5rem;
  max-width: 144px;
  border-radius: .25rem;
  text-align: center;
  margin-bottom: .5rem;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .25);
  transition: 0.3s;
}

.drop-myaccount:hover, .drop-myaccount:focus, .drop-myaccount:active, .drop-myaccount.active, 
.open>.dropdown-toggle.drop-myaccount {
  padding-left: 1rem;
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(124,97,82,1);
  padding-right: 1rem;
  margin-left: .5rem;
  margin-right: .5rem;
  max-width: 144px;
  border-radius: .25rem;
  text-align: center;
  margin-bottom: .5rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .25);
  transition: 0.3s;
}

.drop-logout {
  padding-left: 1rem;
  text-decoration: none;
  color: #49403f;
  background-color: #ffffff;
  padding-right: 1rem;
  margin-left: .5rem;
  margin-right: .5rem;
  max-width: 144px;
  border-radius: .25rem;
  text-align: center;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .25);
  transition: 0.3s;
}

.drop-logout:hover, .drop-logout:focus, .drop-logout:active, .drop-logout.active, 
.open>.dropdown-toggle.drop-logout {
  padding-left: 1rem;
  text-decoration: none;
  color: #49403f;
  background-color: #ffffff;
  padding-right: 1rem;
  margin-left: .5rem;
  margin-right: .5rem;
  max-width: 144px;
  border-radius: .25rem;
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .25);
  transition: 0.3s;
}

h3.left {
    position: relative;
}

h3.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

h3.left:hover:before {
  visibility: visible;
  width: 100%;
}

.foo {
	color: #ffffff;
}

.foo-content {
	color: #e0e0e0;
	text-decoration: none;
}

a.underline{
  text-decoration: none;
  color: #e0e0e0;
}

.underline{
  position: relative;
}

.underline::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #e0e0e0;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}

.btn-size {
  width: 90px !important;
}

a.register-line {
  text-decoration: none;
  color: #49403f;
}

a.contact-line {
  text-decoration: none;
  color: #212529 !important;
}

.register-line {
  position: relative;
}

.register-line::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #49403f;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.contact-line::before {
  background-color: #212529 !important;
}

@media (hover: hover) and (pointer: fine) {
  .register-line:hover::before{
    right: 0;
    right: auto;
    width: 0;
  }
}

@media screen and (max-width: 767px) {
    .btn-login, .btn-register, .btn-group-big, .dropdown-menu{
        display: none !important;
    }

    .szerokosc {
      min-width:  100% !important;
    }
    
    .photo {
      max-width: 100px !important;
    }

    #padding-more {
      padding-bottom: 0px !important;
    }

    .card-deck .card {
      flex: 100% !important;
      margin-bottom: 15px !important;
    }

    #data_delivery {
      display: none !important;
    }
}

@media screen and (min-width: 768px) {
    .btn-hamburger, .myLinks {
        display: none !important;
    }

    .btn-group-big {
      display: flex !important;
    }

    #delivery_data_small {
      display: none !important;
    }
}

@media screen and (min-width: 1166px) {
  #padding-more {
    padding-bottom: 0px !important;
  }
}

.btn-hamburger:focus {
  outline: none !important;
  box-shadow: none !important;
}

.scrollTop {
  position: fixed;
  right: 10%;
  bottom: 10px;
  background-color: #BE3F48;
  padding: 20px;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}

.scrollTop a {
  font-size: 18px;
  color: #fff;
}

#card {
  transition: box-shadow .2s ease, -webkit-transform .2s ease;
  transition: transform .2s ease, box-shadow .2s ease;
  transition: transform .2s ease, box-shadow .2s ease, -webkit-transform .2s ease;
}

#card:hover {
  -webkit-transform: translateY(-5px) !important;
  transform: translateY(-5px) !important;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08) !important;
}

.input-user {
  border: 2px solid rgb(224, 224, 224) !important;
}

.input-user:hover, .input-user:focus, .input-user:active, .input-user.active, 
.open>.dropdown-toggle.input-user {
  border: 2px solid #000000 !important;
  outline: none !important;
  box-shadow: none !important;
}

.input-user-2 {
  border: 2px solid #000000 !important;
  outline: none !important;
}

.input-user-select, .input-user-select:focus {
  border: 2px solid rgb(224, 224, 224) !important;
  box-shadow: none !important;
}

.input-user-select:hover, .input-user-select:active, .input-user-select.active, 
.open>.dropdown-toggle.input-user-select {
  border: 2px solid #000000 !important;
  outline: none !important;
  box-shadow: none !important;
}

 .datepicker-cell.selected:hover {
  color: #ffffff;
  background-color: #53c58f;
  border-color: #53c58f;
  transition: 0.3s;
 }

.datepicker-cell.selected {
  color: #ffffff;
  background-color: #6bcd9f;
  border-color: #6bcd9f;
  transition: 0.3s;
}


@media screen and (max-width: 767px) {
    #message {
    position: fixed;
    top: 1rem;
    z-index: 9999;
    margin-left: 5% !important;
    margin-right: 5% !important;
    min-width: 90% !important;
  }
  .feat_product {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
    #message {
    position: fixed;
    top: 1rem;
    z-index: 9999;
    right: 1rem;
    width: auto;
  }
}

.alert-danger {
  background: #ffaaa3;
  box-shadow: 0 8px 16px 0px rgba( 204, 17, 0, 0.2 );
  -webkit-backdrop-filter: blur( 20px );
  color: #cc1100;
  border: none;
}

.btn-alert-close {
  color: #cc1100 !important;
  transition: 0.3s;
}

.btn-alert-close:hover, .btn-alert-close:focus, .btn-alert-close:active, .btn-alert-close.active, 
.open>.dropdown-toggle.btn-alert-close {
  color: #a30d00 !important;
  transition: 0.3s;
}

.alert-ok {
  background: #d2f0e2;
  box-shadow: 0 8px 16px 0px rgba( 50, 148, 102, 0.3 );
  -webkit-backdrop-filter: blur( 20px );
  color: #3fba80;
  border: none;
}

.btn-alert-close-ok {
  color: #3fba80 !important;
  transition: 0.3s;
}

.btn-alert-close-ok:hover, .btn-alert-close-ok:focus, .btn-alert-close-ok:active, .btn-alert-close-ok.active, 
.open>.dropdown-toggle.btn-alert-close-ok {
  color: #329466 !important;
  transition: 0.3s;
}

.custom-switch.custom-switch-lg .custom-control-label {
    padding-left: 3rem;
    padding-bottom: .5rem;
    padding-top: .5rem;
}

.custom-switch.custom-switch-lg .custom-control-label::before {
    height: 2rem;
    width: calc(3rem + 0.75rem);
    border-radius: 4rem;
}

.custom-switch.custom-switch-lg .custom-control-label::after {
    width: calc(2rem - 4px);
    height: calc(2rem - 4px);
    border-radius: calc(3rem - (2rem / 2));
}

.custom-switch.custom-switch-lg .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(calc(2rem - 0.25rem));
}

.custom-control-input:checked~.custom-control-label::before {
  background-color: #53c58f !important;
  border-color: #53c58f !important;
  box-shadow: 0px 0px 3px 3px rgb(83 197 143 / 50%);
}

.custom-control-label::before {
  background-color: #cc1100 !important;
  border:none !important;
  box-shadow: 0px 0px 3px 3px rgb(204 17 0 / 25%);
}

.custom-switch .custom-control-label::after {
  background-color: #ffffff !important;
}

.custom-control-input:disabled~.custom-control-label, .custom-control-input[disabled]~.custom-control-label {
  color: #212529; !important;
}

#zamek {
  transition: 0.3s;
}

#zamek:hover {
  transition: 0.3s;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.08);
}

.card-header {
  border-bottom: none !important;
}

.btn-collapse:focus {
  box-shadow: none !important;
}

.product_order_history {
  text-decoration: none !important;
  cursor: pointer;
  color: rgb(124, 97, 82);
  transition: 0.3s;
}

.product_order_history:hover {
  color: #aa8e7e;
  transition: 0.3s;
}

.nutritional:hover {
  color: rgb(124, 97, 82) !important;
  background-color: #ffffff !important;
  box-shadow: none !important;
}

.btn-bottom {
  color: rgb(42, 80, 166) !important;
  transition: 0.3s;
  box-shadow: 0px 4px 4px -4px rgba(33, 37, 41, .25) !important;
}

.btn-bottom:hover, .btn-bottom:focus, .btn-bottom:active, .btn-bottom.active, 
.open>.dropdown-toggle.btn-bottom {
  color: rgb(66, 106, 206) !important;
  transition: 0.3s;
  box-shadow: 0px 4px 4px -4px rgba(33, 37, 41, .25) !important;
}

.btn-trash {
  color: rgba(33, 37, 41, .6);
  transition: 0.3s;
}

.btn-trash:hover, .btn-trash:focus, .btn-trash:active, .btn-trash.active, 
.open>.dropdown-toggle.btn-trash {
  color: rgba(33, 37, 41, .7);
  transition: 0.3s;
}

.skin-2 .num-in {
  background: #FFFFFF;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  border-radius: 0.25rem;
  height: 40px;
  width: 110px;
  float: left;
}

.skin-2 .num-in span {
  width: 40%;
  display: block;
  height: 40px;
  float: left;
  position: relative;
}

.skin-2 .num-in span:before, .skin-2 .num-in span:after {
  content: '';
  position: absolute;
  background-color: #212529;
  height: 2px;
  width: 10px;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -5px;
}

.skin-2 .num-in span.plus:after {
  transform: rotate(90deg);
}

.skin-2 .num-in input {
    float: left;
    width: 20%;
    height: 40px;
    border: none;
    text-align: center;
}