body {
    margin: 0;
}

.container-login {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer-login {
    margin-top: auto;
}

/* color variables */
/* border radius */
 *, *::before, *::after {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

 .form {
     position: relative;
     width: 20rem;
     height: 3rem;
}
 .form__input {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     border: 2px solid #e0e0e0;
     border-radius: 0.5rem;
     font-family: inherit;
     font-size: inherit;
     color: #49403f;
     outline: none;
     padding: 1.25rem;
     background-color: none;
    /* Change border when input focus*/
}
 .form__input:hover {
     border-color: #49403f;
}
 .form__input:focus {
     border-color: #49403f;
}
 .form__label {
     position: absolute;
     left: 1rem;
     top: 0.8rem;
     padding: 0 0.5rem;
     color: #49403f;
     cursor: text;
     transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
     background-color: white;
}
/* 1. When the input is in the focus state reduce the size of the label and move upwards 2. Keep label state when content is in input field */
 .form__input:focus ~ .form__label, .form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
     top: -0.5rem;
     font-size: 0.8rem;
     left: 0.8rem;
}

#eye {
    position: absolute;
    height: 1rem;
    top: 1rem;
    left: 17.75rem;
    color: #49403f;
}

#show_hide, #show2 {
  display:none;
}

a.kot{
  text-decoration: none;
  color: #49403f;
}

.kot{
  position: relative;
}

.kot::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #49403f;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .kot:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}